<hr />
<ul>
    <li><a href="{{ path('les_polypodes_app_create') }}">Create</a></li>
    <li><a href="{{ path('les_polypodes_app_update', {id:1}) }}">Update</a></li>
    <li><a href="{{ path('les_polypodes_app_delete', {id:1}) }}">Delete</a></li>
    <li><a href="{{ path('les_polypodes_app_list') }}">List</a></li>
    <li><a href="{{ path('les_polypodes_app_form') }}">Form</a></li>
</ul>
