Create :
<h2>Fakely generated vObjects;</h2>
{# <h3>vCard:</h3> #}
{# <pre>{{ vcard }}</pre> #}

<h3>vCal:</h3>
<pre>{{ vCal }}</pre>
<div>
	<button onclick="location.href='{{ path('les_polypodes_app_create', {serverName: app.request.get('serverName')}) }}'">
		Create one more.
	</button>
	<button onclick="location.href='{{ path('les_polypodes_app_list_event', {calendarName:calendarName, serverName: app.request.get('serverName')}) }}'">
		See Events.
	</button>
</div>
{{ include('@LesPolypodesApp/Events/common/menu.html.twig') }}
