Create :
<h2>Fakely generated vObjects;</h2>
{# <h3>vCard:</h3> #}
{# <pre>{{ vcard }}</pre> #}

<h3>vCal:</h3>
<pre>{{ vcal }}</pre>
<div>
	<button onclick="location.href='{{ path('les_polypodes_app_create') }}'">
		Create one more.
	</button>
	<button onclick="location.href='{{ path('les_polypodes_app_list') }}/{{ name }}'">
		See Events.
	</button>
</div>
{{ include('@LesPolypodesApp/Events/common/menu.html.twig') }}
