Create | {{ app.request.get('serverName') }} | {{ calendarName }}

<h2>Fakely generated VCalendar</h2>

<h3>ICS FORMAT:</h3>
<pre>{{ vCal }}</pre>
<div>
	<button onclick="location.href='{{ path('les_polypodes_app_create', {calendarName:calendarName, serverName: app.request.get('serverName')}) }}'">
		Create one more.
	</button>
	<button onclick="location.href='{{ path('les_polypodes_app_event', {calendarName:calendarName, serverName: app.request.get('serverName')}) }}'">
		See Events.
	</button>
</div>
{{ include('@LesPolypodesApp/Events/common/menu.html.twig') }}
