<h3>Formulaire de création d'évènement</h3>

<div class="well">
	{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
		{{ form_errors(form) }}

		<table><tr><div class="form-group">
			<td>{{ form_label(form.name, "Nom de l'évènement") }}
			{{ form_errors(form.name) }}</td>

			<td><div class="col-sm-4">
				{{ form_widget(form.name) }}
			</div></td>
		</div></tr>

		  <tr><div class="form-group"><td>
		    {{ form_label(form.startDate, "Date et heure de début") }}
		    {{ form_errors(form.startDate) }}</td>

    		<td><div class="col-sm-4">
      		{{ form_widget(form.startDate) }}
    		</div></td>
    	</div></tr>

  		<tr><td><div class="form-group">
      		{{ form_label(form.endDate, "Date et heure de fin") }}
      		{{ form_errors(form.endDate) }}</td>

    		<td><div class="col-sm-4">
      		{{ form_widget(form.endDate) }}
    		</div>
   		</div></td></tr>

  		<tr><div class="form-group">
  			<td>{{ form_label(form.location, "Adresse") }}
  			{{ form_errors(form.location) }}</td>

  			<td><div class="col-sm-4">
  				{{ form_widget(form.location) }}
  			</div></td>
  		</div></tr>

  		<tr><div class="form-group">
      		<td>{{ form_label(form.description, "Description de l'évènement") }}
      		{{ form_errors(form.description) }}</td>
      		<td><div class="col-sm-4">
        		{{ form_widget(form.description) }}
     		</div></td>
    	</div></tr>

    	<tr><div class="form-group">
        <td>{{ form_label(form.price, "Prix de l'évènement") }}
          {{ form_errors(form.price) }}</td>
        <td> <div class="col-sm-4">
          {{ form_widget(form.price) }}
        </div></td>
      </div></tr>

      <tr><div class="form-group">
        <td>{{ form_label(form.organizer, "Email de l'organisateur") }}
          {{ form_errors(form.organizer) }}</td>
        <td> <div class="col-sm-4">
          {{ form_widget(form.organizer) }}
        </div></td>
      </div></tr></table>
		
	{{ form_end(form) }}
</div>

{{ include('@LesPolypodesApp/Events/common/menu.html.twig') }}
