<h3>Formulaire de création d'évènement</h3>

<div class="well">
	{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
		{{ form_errors(form) }}

		<table><tr><div class="form-group">
			<td>{{ form_label(form.name, "Nom de l'évènement") }}
			{{ form_errors(form.name) }}</td>

			<td><div class="col-sm-4">
				{{ form_widget(form.name) }}
			</div></td>
		</div></tr>

		<tr><td><div class="form-group">
		    {{ form_label(form.startDate, "Date de début") }}
		    {{ form_errors(form.startDate) }}
      		<div class="col-sm-4">
        		{{ form_widget(form.startDate) }}
      		</div></td>
    	</div>

    	<td><div class="form-group">
      		{{ form_label(form.startDate, "Heure de début") }}
      		{{ form_errors(form.startDate) }}
      		<div class="col-sm-4">
        		{{ form_widget(form.startDate) }}
      		</div>
   		</div></td></tr>

  		<tr><td><div class="form-group">
      		{{ form_label(form.endDate, "Date de fin") }}
      		{{ form_errors(form.endDate) }}
      		<div class="col-sm-4">
        		{{ form_widget(form.endDate) }}
      		</div>
   		</div></td>

   		<td><div class="form-group">
      		{{ form_label(form.endDate, "Heure de fin") }}
      		{{ form_errors(form.endDate) }}
      		<div class="col-sm-4">
        		{{ form_widget(form.endDate) }}
      		</div>
   		</div></td></tr>

		<tr><div class="form-group">
			<td>{{ form_label(form.location, "Adresse") }}
			{{ form_errors(form.location) }}</td>

			<td><div class="col-sm-4">
				{{ form_widget(form.location) }}
			</div></td>
		</div></tr>

  		<tr><div class="form-group">
      		<td>{{ form_label(form.description, "Description de l'évènement") }}
      		{{ form_errors(form.description) }}</td>
      		<td><div class="col-sm-4">
        		{{ form_widget(form.description) }}
     		</div></td>
    	</div></tr>

    	<tr><div class="form-group">
    		<td>{{ form_label(form.price, "Prix de l'évènement") }}
    			{{ form_errors(form.price) }}</td>
    		<td> <div class="col-sm-4">
    			{{ form_widget(form.price) }}
    		</div></td>
    	</div></tr></table>

			{# {{ form_row(form.name) }}
			{{ form_row(form.startDate) }}
			{{ form_row(form.endDate) }}
			{{ form_row(form.description) }} #}
		
	{{ form_end(form) }}
</div>

{{ include('@LesPolypodesApp/Events/common/menu.html.twig') }}
