ListEvent via SimpleCalDav

<h2>Remote iCal Objects call</h2>
{% for data in datas %}
    <fieldset class='event' style='margin-bottom: 10px;'>
        {% if data.vcal.vevent.summary is defined %}
    	   <legend>{{ data.vcal.vevent.summary }}</legend>
        {% else %}
            <legend>Évènement {{ loop.index }}</legend>
        {% endif %}

        <p color='#F20000'>| <a id="link_{{ loop.index}}" href="{{ path('les_polypodes_app_delete', {id:data.vcal.vevent.uid}) }}">Supprimer l'évènement</a> |</p>

    	<p>De : {{ data.dateStart }}&ensp;À : {{ data.dateEnd }}</p>
		{% if data.vcal.vevent.location is defined %}
			<p>Lieu : {{ data.vcal.vevent.location }}</p>
		{% endif %}
		{% if data.vcal.vevent.description is defined %}
            {% autoescape false %}
        	<p>{{ data.vcal.vevent.description }}</p>
            {% endautoescape %}
        {% else %}
            <i>aucune description</i>
		{% endif %}
    </fieldset>
    <hr color='#EEEEEE'>
{% endfor %}

{{ include('@LesPolypodesApp/Events/common/menu.html.twig') }}
