ListEvent via SimpleCalDav

<h2>Remote iCal Objects call</h2>
{% for data in datas %}
    <fieldset class='event' style='margin-bottom: 10px;'>
    	<legend>{{ data.vcal.vevent.summary }}</legend>
    	<p>De : {{ data.dateStart }}&ensp;À : {{ data.dateEnd }}</p>
    	<p>Lieu : {{ data.vcal.vevent.location }}</p>
    	{% autoescape false %}
    	<p>{{ data.vcal.vevent.description }}</p>
    	{% endautoescape %}
    </fieldset>
    <hr color='#EEEEEE'>
{% endfor %}

{{ include('@LesPolypodesApp/Events/common/menu.html.twig') }}
