List via SimpleCalDAV

<h2><span class="calLength">{{ calendars|length }}</span> Remote calendars{% if 0 < calendars|length  %} exist!{% endif %}

</h2>
<ul>
	{% for calendar in calendars %}
	    <li>
	    	<a id="link_{{ loop.index}}" href="{{ path('les_polypodes_app_list_event', {name:calendar.displayname, serv: app.request.get('serv')}) }}">
	    		{{ calendar.displayname }} (ID: {{ calendar.calendarid }})
	    	</a>
	    	| <a id="insert2_{{ loop.index }}" href="{{ path('les_polypodes_app_dev_insert', {name:calendar.displayname, n:2, serv: app.request.get('serv')}) }}">
				Insert 2</a>
			| <a id="insert10_{{ loop.index }}" href="{{ path('les_polypodes_app_dev_insert', {name:calendar.displayname, n:10, serv: app.request.get('serv')}) }}">
				Insert 10</a>
			| <a id="raw_{{ loop.index }}" href="{{ path('les_polypodes_app_list_event_raw', {name:calendar.displayname, serv: app.request.get('serv')}) }}">
				Raw</a>
			| <a id="delete_{{ loop.index }}" href="{{ path('les_polypodes_app_delete', {serv: app.request.get('serv')}) }}">
				Clean calendar</a>
	    </li>
	{% endfor %}
</ul>

{{ include('@LesPolypodesApp/Events/common/menu.html.twig') }}
